*{
    box-sizing: border-box;
}

body {
    background-image: url(img/fadedroad50.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #7F5539;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align:center;
    background-color: #9C6644;
    color: #231814;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 240px;
}

header a:link,a:visited {
    text-decoration: none;
    color: #231814;
}

header a:hover{
    text-decoration: none;
    color: #fef6c2;
}

h1 {
    font-size:3em;
}

h2{
    color:#7F5539;
}

h3 {
    color:#4d3423;
}

dt {
    color:#4d3423;
}

h4 {
    background-color: #7F5539;
    color:#DDBEA9;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: capitalize;
    border-bottom: 2px solid #231814;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a{
    text-decoration: none;
    float: left;
}

nav ul{
    /* padding-left: 20px; */
    text-align: center;
    list-style-type: none;
    text-align: center;
}

nav a:link{color:#fef6c2;}
nav a:visited{color:#d2b48c;}
nav a:hover{color:#cc9933;}

main {
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    padding-top: 0;
    padding-bottom: 20%;
    display: block;
    background-color: #fef6c2;

}

footer {
    text-align:center;
    background-color: #9C6644;
    color: #4d3423;
    font-size: .6em;
    font-style: italic;
    border-top: 2px solid #4d3423;
    padding: 1em;
}

/* img {
    padding-left: 10px;
    padding-right: 10px;
} */

main h2,h3,h4,p,div,ul,dl {
    padding-left: 3em;
    padding-right: 2em;
}



.details {
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

.onethird {
    float: left;
    width: 33%;
}

#homehero {
    background-image: url(img/hero.jpg);
    height:300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#heromugs {
    background-image: url(img/heromugs.jpg);
    height:300px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#heroguitar {
    background-image: url(img/heroguitar.jpg);
    /* height:300px; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: #231814;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 5px solid #4d3423;
    padding: 0;
}