h1 {
    font-size: 120%;
    background-color:#9C6644;
    color:#FFE8DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}


h2 {
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#7F5539;
    padding-left: 1em;
}

p {
    color:#cb997e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 1em;
}


footer {
    border-top: 2px solid #4d3423;
    background-color: #9C6644;
    color: #FFE8DC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

a {
    text-decoration: none;
    color:#DDBEA9;
}

nav {
    text-align: center;
}

li {
    color: #7F5539;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    background-color: #FFE8DC;
    min-width: 1000px;
    max-width: 1280px;
}