html {
    background-image: url("images/fadedroad50.jpg");
    background-attachment: fixed;
    background-size: cover;
}



#wrapper {
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 10px;
    background-color: #fff9f1;
}

header {
    padding-top:5px;
    padding-bottom:5px;
    background-color: #D2B48C;
}

h1 {
    font-size:3em;
    color:#8C3826;
    text-align: center;
}

nav {
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

nav a{
    text-decoration: none;
}

footer {
    border-top:2px solid #8C3826;
    padding-top:1em;
    background-color: #D2B48C;
}

h4{
    background-color: #D2B48C;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    font-size: 1.2em;
    color:#8C3826;
}

h3,dt,h2{
    color:#8C3826;
}

main {
    display:block;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

#homehero {
    height:300px;
    background-size: cover;
    background-repeat: no-repeat;
}